# {{ ansible_managed }}

# ----------------------------------------------------------------------------
# Personalization and branding

# The name of the application
APP_NAME={{ app_name | default('RLetters') }}

# The e-mail address contact for the application
APP_EMAIL={{ app_email | default('noreply@example.com') }}

# The password which will be used to log into the administration interface.
# Notably, this being stored here does not decrease security: if you have
# access to the process environment, you have access to the database connection
# information, and so you could do anything that is possible in the site
# administration interface anyway.
#
# This password will be automatically regenerated on deployment with Ansible,
# you must change it yourself if you deploy manually!
ADMIN_PASSWORD="{{ admin_password }}"

# The primary color of your branding, which will be used in MS tile colors, the
# Safari pinned-tab icon, etc.
BRANDING_COLOR="{{ branding_color | default('#007bff') }}"

# If set, add a Bootswatch theme to Bootstrap. Check out the list of themes at
# https://bootswatch.com/.
BOOTSWATCH_THEME="{{ bootswatch_theme | default('') }}"


# ----------------------------------------------------------------------------
# Server settings

# Puma can serve the application code in multiple worker processes if you
# configure it here.
WEB_CONCURRENCY={{ web_concurrency | default('2') }}

# Each worker process can then run the requested number of Rails threads.
RAILS_MAX_THREADS={{ rails_max_threads | default('5') }}

# If this variable is uncommented, force all app connections to occur
# over HTTPS, and send secure-only cookies.
HTTPS_ONLY=false

# If this variable is set, delayed jobs will not actually delay, and will run
# immediately, blocking the web server. Useful only for local deployments on
# small datasets.
# BLOCKING_JOBS=true

# Set this timeout to whatever you find reasonable for your installation.
# Twelve hours is a reasonable default; jobs running longer than that may well
# have failed, unless you have a very large corpus.
JOB_TIMEOUT={{ job_timeout | default('12') }}

# URL to the database. We only support PostgreSQL, and we recommend a pool
# size of at least 20, to account for concurrency in the frontend and a
# reasonable number of workers in the backend.
#
# This default URL connects to the local user socket, which is usually what
# you want on a development machine.
DATABASE_URL="{{ database_url }}"

# URL to the Solr instance. This must be set up using RLetters' Solr schema,
# which can be found here:
# <https://github.com/rletters/solr-example/blob/master/solr/collection1/conf/schema.xml>
#
# This default URL connects to the example Solr instance that can be deployed
# by checking out the repository where the schema is found.
SOLR_URL="{{ solr_url }}"

# The timeout for connections to Solr, in seconds. The default is incredibly
# high, because running large Solr queries can result in exceptional query
# times in many configurations. Lower this at your own risk.
SOLR_TIMEOUT={{ solr_timeout | default('120') }}

# File storage directory. If unset, we'll default to using the Rails-local
# 'tmp/storage' directory.
# FILE_PATH=

# S3 credentials for file storage. If all of the following block of
# configuration values is set, we will upload all files to the given S3
# bucket rather than saving them locally.
S3_ACCESS_KEY_ID="{{ s3_access_key_id | default('') }}"
S3_SECRET_ACCESS_KEY="{{ s3_secret_access_key | default('') }}"
S3_BUCKET="{{ s3_bucket | default('') }}"
S3_REGION="{{ s3_region | default('') }}"

# If this variable is set, we will enable Sentry for error reporting.
SENTRY_DSN="{{ sentry_dsn | default('') }}"


# ----------------------------------------------------------------------------
# Email settings

# The domain name from which application e-mail should originate
MAIL_DOMAIN={{ mail_domain | default('example.com') }}

# The delivery method that should be used for email (should be either sendmail
# or smtp)
MAIL_DELIVERY_METHOD={{ mail_delivery_method | default('smtp') }}

# Configuration variables for mail delivery
#   Sendmail (local MTA)
# SENDMAIL_LOCATION=/usr/sbin/sendmail
# SENDMAIL_ARGUMENTS=-i -t
#   SMTP server
SMTP_ADDRESS="{{ smtp_address | default('') }}"
SMTP_PORT="{{ smtp_port | default('25') }}"
SMTP_DOMAIN="{{ smtp_domain | default('') }}"
SMTP_USERNAME="{{ smtp_username | default('') }}"
SMTP_PASSWORD="{{ smtp_password | default('') }}"
SMTP_AUTHENTICATION="{{ smtp_authentication | default('') }}"
SMTP_ENABLE_STARTTLS_AUTO="{{ smtp_enable_starttls_auto | default('') }}"
SMTP_OPENSSL_VERIFY_MODE="{{ smtp_openssl_verify_mode | default('') }}"


# ----------------------------------------------------------------------------
# Feature flags

# If specified, show a maintenance message at the top of every page as a
# non-dismissable alert.
MAINTENANCE_MESSAGE="{{ maintenance_message | default('') }}"

# Every analysis job can be optionally disabled using the feature flags in
# the following block, if your users do not require them and/or they are
# proving computationally prohibitive on your installation.
# ARTICLE_DATES_JOB_DISABLED=1
# COLLOCATION_JOB_DISABLED=1
# COOCCURRENCE_JOB_DISABLED=1
# CRAIG_ZETA_JOB_DISABLED=1
# EXPORT_CITATIONS_JOB_DISABLED=1
# PROPER_NAMES_JOB_DISABLED=1
NETWORK_JOB_DISABLED=1
# TERM_DATES_JOB_DISABLED=1
# WORD_FREQUENCY_JOB_DISABLED=1


# ----------------------------------------------------------------------------
# Secret keys

# The following lines will be regenerated automatically by default when you
# deploy using Ansible. If you deploy manually, you can run
# `rake rletters:secrets:env` to recreate them yourself.
#
# In either event, if they are not regenerated before starting up in
# production, an error will be raised.
SECRET_KEY_BASE={{ secret_key_base }}
DEVISE_SECRET_KEY={{ devise_secret_key }}
