{% if redirect_domain_name is defined %}
server {
    listen      80;
    server_name {{ redirect_domain_name }};
    return      301 $scheme://{{ domain_name }}$request_uri;
}
{% endif %}

server {
    listen      80;
    server_name {{ domain_name }};

    root        /var/rletters/current/public;

    error_page  500 502 504 /500.html;
    error_page  404 /404.html;
    error_page  503 @503;

    index index.html index.htm;

    if (-f /var/rletters/shared/public/system/maintenance.html) {
        return 503;
    }

    location @503 {
        if (-f $request_filename) {
            break;
        }

        root /var/rletters/shared/public;

        {% if status_url is defined %}
        rewrite ^(.*)$ {{ status_url }} redirect;
        {% else %}
        rewrite ^(.*)$ /system/maintenance.html break;
        {% endif %}
    }

    try_files $uri/index.html $uri @rails;

    location @rails {
        proxy_pass http://rails;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
    }
}
