{% if redirect_domain_name is defined %}
server {
    listen      80;
    listen      [::]:80;
    listen      443 ssl http2;
    listen      [::]:443 ssl http2;
    server_name {{ redirect_domain_name }};

    ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;

    return      301 $scheme://{{ domain_name }}$request_uri;
}
{% endif %}

server {
    listen      80;
    listen      [::]:80;
    server_name {{ domain_name }};

    return      301 https://$host$request_uri;
}

server {
    listen      443 ssl http2;
    listen      [::]:443 ssl http2;
    server_name {{ domain_name }};

    root        /var/rletters/current/public;

    error_page  500 502 504 /500.html;
    error_page  404 /404.html;
    error_page  503 @503;

    index index.html index.htm;

    if (-f /var/rletters/shared/public/system/maintenance.html) {
        return 503;
    }

    location @503 {
        if (-f $request_filename) {
            break;
        }

        root /var/rletters/shared/public;

        {% if status_url is defined %}
        rewrite ^(.*)$ {{ status_url }} redirect;
        {% else %}
        rewrite ^(.*)$ /system/maintenance.html break;
        {% endif %}
    }

    try_files $uri/index.html $uri @rails;

    location ~ .well-known/acme-challenge/ {
        root /etc/nginx/certbot;
        default_type text/plain;
    }

    location @rails {
        proxy_pass http://rails;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
    }

    # Mozilla SSL configuration, intermediate, OpenSSL 1.0.2k, from October 12, 2019
    ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;
    ssl_session_timeout 1d;
    ssl_session_cache shared:MozSSL:10m;

    ssl_dhparam /etc/ssl/dhparam.pem;

    ssl_protocols TLSv1.2;
    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
    ssl_prefer_server_ciphers off;

    add_header Strict-Transport-Security "max-age=63072000" always;

    ssl_stapling on;
    ssl_stapling_verify on;

    ssl_trusted_certificate /etc/letsencrypt/live/{{ domain_name }}/chain.pem;

    resolver 1.1.1.1 1.0.0.1 8.8.8.8 8.8.4.4 208.67.222.222 208.67.220.220 valid=60s;
    resolver_timeout 2s;
}
